import os
from azure.quantum import Workspace
from azure.identity import DefaultAzureCredential


connection_string = os.getenv("CONNECTION_STRING")

if not all([connection_string]):
    raise RuntimeError(
        "Missing Azure Quantum workspace configuration environment variables"
    )

credential = DefaultAzureCredential()
workspace = Workspace.from_connection_string(str(connection_string))

with open("{{ payload_path }}", "rb") as f:
    program = f.read()

job = workspace.submit(input_data=program, target="{{ target }}")
print(f"Submitted job: {job.id}")

