import json, os, boto3
from braket.aws import AwsDevice, AwsSession
from braket.ir.openqasm import Program

device_arn = os.getenv("DEVICE_ARN")
region = os.getenv("REGION")

with open("{{ payload_path }}") as f:
    source = f.read()

program = Program(source=source)

boto_sess = boto3.Session(region_name=region)
session   = AwsSession(boto_session=boto_sess)
device = AwsDevice(device_arn, aws_session=session)

task = device.run(program, shots={{ shots }})
result = task.result()

counts = getattr(result, "measurement_counts", {})
print(json.dumps(counts))
